---
import Button from "./Button.astro";
---

<section id="contact" class="cta-section">
  <div class="cta-wrapper">
    <div class="cta-container fade-in-up">
      <h2>¿Listo para llevar tu contabilidad al siguiente nivel?</h2>
      <p>
        Agenda una asesoría gratuita y descubre cómo puedo ayudarte a optimizar
        tus finanzas.
      </p>
      <Button class="cta-button" hidebutton />
    </div>
  </div>
</section>

<style>
  .cta-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: clamp(72px, 8vw, 140px) 0;
  }

  .cta-wrapper {
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    display: flex;
    width: 65%;
    border-radius: 21px;
    background-image: url("/Images/principal-banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    overflow: hidden;
  }
  .cta-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  }

  .cta-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    display: flex;
    z-index: 2;
  }

  h2,
  p {
    color: var(--color-white);
    text-align: center;
  }
  /* 
  .cta-button.fade-in-up {
    transition: none !important;
    opacity: 1;
  } */
</style>
