<section id="reviews" class="testimonials-section">
  <div class="testimonials-container">
    <h2 class="testimonials-title fade-in-up">Testimonios</h2>
    <div class="testimonials-grid fade-in-up">
      <div class="testimonial-item">
        <div class="testimonial-card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="quote-icon"
            viewBox="0 0 975.036 975.036"
          >
            <path
              d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
            ></path>
          </svg>
          <p class="testimonial-text">
            Contar con Sara Martínez como contadora ha sido un gran acierto para
            nuestro negocio. Su conocimiento en normativas fiscales y su
            habilidad para organizar la información financiera nos ha brindado
            seguridad y confianza. Gracias a su gestión, hemos podido enfocarnos
            en hacer crecer la empresa, sabiendo que nuestras finanzas están en
            buenas manos.
          </p>
          <a class="testimonial-author">
            <img
              alt="testimonial"
              src="https://dummyimage.com/106x106"
              class="author-img"
            />
            <span class="author-info">
              <span class="author-name">Sofia Rodriguez</span>
              <span class="author-role">Marketing Manager</span>
            </span>
          </a>
        </div>
      </div>

      <div class="testimonial-item">
        <div class="testimonial-card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="quote-icon"
            viewBox="0 0 975.036 975.036"
          >
            <path
              d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
            ></path>
          </svg>
          <p class="testimonial-text">
            Sara es una profesional sumamente comprometida. Nos ha ayudado a
            implementar un sistema contable mucho más eficiente, lo que nos ha
            permitido reducir errores y mejorar la gestión de nuestros recursos.
            Además, siempre está dispuesta a explicar cada detalle con
            paciencia, asegurándose de que entendamos claramente la situación
            financiera de la empresa
          </p>
          <a class="testimonial-author">
            <img
              alt="testimonial"
              src="https://dummyimage.com/107x107"
              class="author-img"
            />
            <span class="author-info">
              <span class="author-name">Andrés Pérez</span>
              <span class="author-role">Sales Executive</span>
            </span>
          </a>
        </div>
      </div>

      <div class="testimonial-item">
        <div class="testimonial-card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="quote-icon"
            viewBox="0 0 975.036 975.036"
          >
            <path
              d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
            ></path>
          </svg>
          <p class="testimonial-text">
            Trabajar con Sara Martínez como nuestra contadora ha sido una
            experiencia excepcional. Gracias a su organización y conocimientos
            en temas fiscales, hemos logrado tener nuestras finanzas al día y
            optimizar procesos que antes nos generaban muchos dolores de cabeza.
            Su asesoría en temas tributarios ha sido clave para tomar decisiones
            más acertadas y mantener la estabilidad financiera de la empresa.
          </p>
          <a class="testimonial-author">
            <img
              alt="testimonial"
              src="https://dummyimage.com/107x107"
              class="author-img"
            />
            <span class="author-info">
              <span class="author-name">Marcela Gómez</span>
              <span class="author-role">Project Coordinator</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .testimonials-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: clamp(72px, 8vw, 140px) 0;
  }

  .testimonials-container {
    max-width: 1500px;
    margin: 0 auto;
  }

  .testimonials-title {
    text-align: center;
    margin-bottom: 7vh;
  }

  .testimonials-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonial-item {
    padding: 1rem;
    width: 30%;
  }

  @media (min-width: 768px) {
  }

  .testimonial-card {
    background-color: var(--color-grey);
    padding: 2rem;
    border-radius: 0.5rem;
    height: 100%;
  }

  .quote-icon {
    display: block;
    width: 20px;
    height: 20px;
    color: #9ca3af;
    margin-bottom: 1rem;
  }

  .testimonial-text {
    line-height: 1.625;
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-style: italic;
  }

  .testimonial-author {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  .author-img {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .author-info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  .author-name {
    font-weight: 500;
    color: var(--color-black);
  }

  .author-role {
    color: var(--color-lg-grey);
    font-size: 0.875rem;
  }

  @media screen and (max-width: 1000px) {
    .testimonials-grid {
      column-gap: 0px;
      row-gap: 60px;
    }
    .testimonial-item {
      width: 40%;
    }
  }

  @media screen and (max-width: 700px) {
    .testimonials-grid {
      flex-direction: column;
      row-gap: 0px;
      justify-content: center;
      align-items: center;
    }
    .testimonial-item {
      width: 90%;
    }
  }
</style>
